div{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    
}

h1{
    text-align: center;
    font-family: Helvetica, sans-serif;
}

input{
    font-size: 1.05em;
    padding: 2px;
}

label{
    font-size: 1.2em;
}

button{
    font-size: 1.05em;
}
.container{
    display: flex;
    border : 2px solid black;
    padding: 18px;
    justify-content: space-between;
}

.stats{
    border: 2px solid white;
    padding: 1em;
    display: flex;
    justify-content: space-evenly;
}

.stats span {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#start{
    font-size: 1.2em;
    
}